@font-face {
  font-family: '훈딥옐로우';
  src: url('./font/HoonDeepyellowR.ttf');
}

* { 
  box-sizing: border-box;
  font-family: '훈딥옐로우';
  font-size: 15pt;
 }



header {
    background-color: #FFCB06;
    height: 60px;
    padding: 20px 20px;
    padding-left: 100px;
    overflow: hidden;
}

footer {
    background-color: rgb(77, 76, 75);
    padding: 20px 10px;
    
}

footer p {
  margin: 0;
  font-size: 12pt;
  color: white;
}

header a {
    text-decoration:none;
    padding: 10px;
    color: rgb(0, 0, 0);
}

header img {
  position: absolute;
  top: 10px;
  left: 5px;
  height: 40px;
}

header a:hover {
    text-decoration:none;
    color: rgb(0, 0, 0);
    padding: 10PX;
    background-color: rgb(255, 255, 255);
}
.header-left{
  float: left;
}

.header-right {
    float: right;
}

.content {
  width: 1000px;
  padding: 20px;
  margin: 20px;
  border-left: #FFCB06 solid 5px;
}

.content img {
  width: 100%;
  
}

#item-list-container {
    overflow:hidden;
}

.item-container {
    width: 200px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    float: left;
    margin: 10px;
    cursor: pointer;
}

.item-container:hover {
  border: #FFCB06 1px solid;
}

.item-container img {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: 0;
}

.item-container p {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 60px;
    padding: 0 10px 10px 10px;
    margin: 0;
    text-align: center;
}

.item-image-container {
    height: 300px;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(77, 76, 75);
}

.item-image-container img {
    width: auto;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
    float: left;
    background-color: white;
}

.title {
  color: white;
  margin-left: 20px
}

.item-detail-container {
    margin: 20px;
}

.siede {
  width: 130px;
  height: 100px;
  position: fixed;
  right: 10px;
  top: 60px;   
}

.siede img {
  width: 100%;
  height: 400px;
}

